p.dotted{border-style:dotted;
border-width:4px;}
p.dashed{border-style:dashed;
border-width:thick;}
p.solid{border-style:solid;
border-width:4px 5px 20px 40px}
p.double{border-style:double;
border-color:blue red green yellow;}
p.groove{border-style:groove}
p.ridge{border-style:ridge}
p.inset{border-style:inset;
border-radius:10px;}
p.outset{border-style:outset}
p.none{border-style:none}
p.hidden{border-left-style:hidden;
border-bottom-style: solid;}
p.mixed{border-style:dotted dashed solid double;}
.margin-training{
  border:10px solid blanchedalmond;
  margin-left:100px;
  width:150px;
}
.inherit-margin{
  margin-left:inherit;
}
h1{
  margin:50px 0px 0px 0px;
}
h2{
  margin:0px 0px 20px 0px;
}
#padding-test
{
  border:2px solid blue;
  padding:25px 50px;
}
#hnw-test
{
  background-color:powderblue;
  height:300px;
  width:1000px;
  max-width:550px;
}
#hnw-test2{
  background-color:pink;
  width:300px;
  min-width:100px;
}